@using PagedList.Mvc;
@using PagedList;
@model IPagedList<Inventario.Models.inventario>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Inventario";
}

@if (ViewBag.message != null)
{
    <br />
    <div class="alert alert-success" role="alert">
        @ViewBag.message
    </div>
}

<h2>@ViewBag.Tittle</h2>

<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-primary" onclick="document.location.href = '@Url.Content("~/Inventario/Add")'" value="Nuevo" />
    </div>
</div>
<br />

@using (Html.BeginForm("Index", "Inventario", FormMethod.Get))
{
    <div class="row">
        <input type="text" name="search" placeholder="Nombre del producto" class="form-control" />
        <input type="submit" value="Buscar" class="btn btn-default" />
    </div>
}

<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Producto</th>
                <th>Descripción</th>
                <th>Categoria</th>
                <th>Valor</th>
                <th>Fecha</th>
                <th></th>
            </tr>

            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => oElemento.id)</td>
                    <td>@Html.DisplayFor(modelItem => oElemento.nombre)</td>
                    <td>@Html.DisplayFor(modelItem => oElemento.descripcion)</td>
                    <td>@Html.DisplayFor(modelItem => oElemento.idCategoria)</td>
                    <td>@Html.DisplayFor(modelItem => oElemento.precio)</td>
                    <td>@Html.DisplayFor(modelItem => oElemento.fecha)</td>
                    <td>
                        <input type="button" onclick="document.location.href = '@Url.Content("~/Inventario/Edit/"+oElemento.id)'" class="btn btn-default" value="Editar" />
                        <input onclick="jsDelete(@oElemento.id);" type="button" value="Eliminar" class="btn btn-danger" />
                    </td>
                </tr>
            }
        </table>
        <br />
        @Html.PagedListPager(Model, i => Url.Action("Index", "Inventario", new { i, search = Request.QueryString["search"] }))
    </div>
</div>

@section scripts
{
    <script>
        function jsDelete(id)
        {
            if (confirm("¿Eliminar este elemento?"))
            {
                url = "@Url.Content("~/Inventario/Delete")" + "/" + id;
                $.post(url, function (data)
                {
                    if (data == "1")
                    {
                        document.location.href = "@Url.Content("~/Inventario/")";
                    }
                    else
                    {
                        alert("Ocurrió un error :(")
                    }
                })
            }
        }
    </script>
}


